body {
  margin: 0;
}

.header {
    overflow: hidden;
    background-color: #e0e0e0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 53px;
    text-align:center;
    display: block;
    position: fixed;
    /*border: 3px solid blue;*/
  }
  
  /* Style the header links */
.header a {
    color: black;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid black;
    border-radius: 2px;
    display: block;
  }
  
  /* Change the background color on mouse-over */
.header a:hover {
    background-color: rgba(184, 184, 184, 0.76);
    color: black;
  }
  
  /* Style the active/current link*/
.header a.active{
    background-color: #4785c2;
    color: black;
  }

/*
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 100px;
}
*/
  
  /* Float the link section to the right */
.header-right {
    float: right;
  }

.header ul {
    overflow: hidden;
    list-style-type: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header li {
    float: left;
}

body {
  background-color: #002B5A;
  color: lightgray;
}
body a{
  color: lightgray;
}

.button {
  background-color: #872434;
  border: 1px #872434 solid;
  border-radius: 4px;
  height: 28px;
  width: 110px;
  color:white;
  padding: 32px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 475px;
  margin-right: -380px;
  cursor: pointer;
}