<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static 'home/default_list.css' %}?{% now "U" %}'>
    </head>
    <body>

    {% include "header.html" %}
    <br><br>

    <h1 style="font-size: 50px; text-align: center; color:white; font-family:Times New Roman">
        Welcome Home {{request.session.email}}
    </h1>

    {% if not request.session.email %}
        <p>
            <a href="/users/create/" class="button" id="create_button">Create User</a>
            <a href="/users/login/" class="button" id="login_button">Login User</a>
        </p>
    {% else %}
    <div class="post_container">
        <h1 class="list_header">List of Posts <span class="date_header">Date Posted</span></h1>
        {% include "posts/list_of_posts.html" %}
        <script type="text/javascript" src='{% static 'posts/post_list.js' %}?{% now "U" %}'></script>

    </div>
    {% endif %}

    </body>
</html>
