<h1>Welcome Home {{request.session.email}}</h1>


{% if not request.session.email %}
    <p><a href="/users/create/">Create User</a></p>
    <p><a href="/users/login/">Login User</a></p>
{% else %}
    {% if user.is_employer %}
        <p><a href="/posts/">View Posts</a></p>
        <p><a href="/posts/create/">Create Post</a></p>
    {% elif user.is_student %}
        <p><a href="/posts/search/">Search Posts</a></p>
    {% elif user.is_admin %}
        <p><a href="/posts/">View Posts</a></p>
        <p><a href="/posts/create/">Create Post</a></p>
        <p><a href="/posts/search/">Search Posts</a></p>
        <p><a href="/users/">View Users</a></p>
    {% endif %}
    
    {% if user.is_authenticated %}
        <p><a href = '/users/myprofile/'>My Profile</a></p>
        <p><a href = '/users/logout/'>Logout</a></p>
    {% endif %}
{% endif %}
