<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static  'home/form.css' %}?{% now "U" %}'>

</head>

{% include "header.html" %}
<br><br><br><br>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="POST">
    {% csrf_token %}
{% for field in form %}
    <label class="field_title">{{field.label }}</label>
    <br>
    {{field}}
    <br>
{% endfor %}
    <input type="submit" value="Submit"/>
</form>

<p style="text-align: center;"><a href="/users/create/">Create Account?</a></p>

</html>
