<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/user_detail.css' %}">
  </head>
  <body>

    <h1><a href="/">Home</a></h1>

    <h1 id="email">{{ user.email }}</h1>
    <h3 id="account-type">Account type: {{ accountType }}</h3>
    <div className="options">
      <form method="post">
        <!--protect against cross-site request forgeries-->
        {% csrf_token %}
        {% if user.is_pending %}
            <input type="submit" name="Approve Account" value="Approve Account">
        {% elif user.is_active %}
            <input type="submit" name="Block Account" value="Block Account">
        {% elif user.is_blocked %}
            <input type="submit" name="Unblock Account" value="Unblock Account">
        {% endif %}
      </form>
      <br>
      <form method="post">
        <!--protect against cross-site request forgeries-->
        {% csrf_token %}
        <input type="submit" name="Delete Account" value="Delete Account">
      </form>
    </div>

  </body>
</html>
