<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static  'home/form.css' %}?{% now "U" %}'>

</head>

{% include "header.html" %}
<h1 class="form_title">Create Account</h1>
<form method="POST">
    {% csrf_token %}
{% for field in form %}
    <label class="field_title">{{field.label }}</label>
    <br>
    {{field}}
    <br>
{% endfor %}
    <input type="submit" value="Submit"/>
</form>

<!--
    <p>Select an account type:</p>
    <select name="account-type">
      <option name="student" value="student">Student</option>
      <option name="employer" value="employer">Employer</option>
      <option name="admin" value="admin">Admin</option>
    </select>
-->
</html>