<!DOCTYPE html>
<html>
  <head>
    {% load static %}
     <link rel="stylesheet" type="text/css" href='{% static  'home/default_list.css' %}?{% now "U" %}'>

  </head>
  <body>


  {% include "header.html" %}
  <br><br>
  <h1>List of Users </h1>
<ul class="list">
    {% for user in users %}
        <li class="list_items">
        <input id="expandable" class="toggle" type="checkbox">
        <label for="expandable" class="lbl_toggle">{{user.email}}</label>

        <div class="collapsable_content">
            <a href="/users/view/?user={{user.id}}" class="button">View User </a>
            {% if not user.is_active %}
              <p>Status: Pending</p>
            {% else %}
              <p>Status: Active</p>
            {% endif %}
            {% if user.is_admin %}
              <p>Account Type: Admin</p>
            {% elif user.is_student %}
              <p>Account Type: Student</p>
            {% else %}
              <p>Account Type: Employer</p>
            {% endif %}
            <p>Bio:</p>
            <p>{{user.bio}}</p>

       </div>
        </li>
    {% endfor %}
</ul>


</body>

<script type="text/javascript">
    var allLists = document.getElementsByTagName('label');
    
    for(var x = 0; x < allLists.length; x++)
    {
        allLists[x].onclick=function()
        {
            if(this.parentNode)
            {
                var childList = this.parentNode.getElementsByClassName('collapsable_content');
                console.log(this.nodeName)

                console.log(this.parentNode)
                console.log(childList)
                for(var y = 0; y< childList.length;y++)
                {
                    var currentState = childList[y].style.display;
                    if(currentState=="block")
                    {
                        childList[y].style.display="none";
                    }
                    else
                    {
                        childList[y].style.display="block";
                    }
                    childList[y].onclick = function() { 
                        var curr = this.style.display;
                        if(curr=="block"){
                            this.style.display="none";
                        }else{
                            this.style.display="block";
                        }
                    }
                }
            }
        }
    }
    </script>

</html>
