<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type=text/css" href="{% static 'job_board/create_post.css' %}">
  </head>
  <body>

    <div className="header">
      <h1 id="logo">UMW Outreach</h1>
      <a id="home" href="/job_board/employer/home">Home</a>
      <a id="logout" href="/job_board/logout">Logout</a>
    </div>

    <h1>Create Post</h1>
    <form method="post">
      <!--protect against cross-site request forgeries-->
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
