<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'job_board/search_posts.css' %}">
  </head>
  <body>

    <div className="header">
      <h1 id="logo">UMW Outreach</h1>
      <a id="home" href="/job_board/student/home">Home</a>
      <a id="logout" href="/job_board/logout">Logout</a>
    </div>

    <h1>Search Job Posts</h1>
    <form method="post">
      <!--protect against cross-site request forgeries-->
      {% csrf_token %}
      <div className="search-bar">
        <!--
        <input type="text" id="search-bar" placeholder="Search by title..." value="" onkeypress="handleUpdate()">
        -->
        <input type="text"
               id="search-bar"
               name="q"
               placeholder="Search by..."
               value="{% if searchButtonClicked %}{{ query }}{% endif %}">
        <select name="filter" id="filter">
          <option name="title" value="title" {% if selected == "title" %} selected {% endif %}>Title</option>
          <option name="job type" value="job type" {% if selected == "job type" %} selected {% endif %}>Job type</option>
          <option name="description" value="description" {% if selected == "description" %} selected {% endif %}>Description</option>
        </select>
        <input type="submit" name="Search" value="Search">
        <!--
        <script>
          function handleUpdate() {
          
          }
        </script>
        -->
      </div>
    </form>
    <ul id="results">
      {% if searchButtonClicked %}
        {% for post in posts %}
          {% if post.status == "active" %}
            <li id="post">
              <a id="post-link" href="/job_board/student/view-post/?postid={{ post.id }}">
                {{ post.title }} {{ post.jobType }} {{ post.description }}
              </a>
            </li>
            <br>
          {% endif %}
        {% empty %}
          <p>No matches found.</p>
        {% endfor %}
      {% endif %}
    </ul>

  </body>
</html>
