<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'job_board/view_account.css' %}">
  </head>
  <body>

    <div className="header">
      <h1 id="logo">UMW Outreach</h1>
      <a id="home" href="/job_board/admin/home">Home</a>
      <a id="logout" href="/job_board/logout">Logout</a>
    </div>

    <h1 id="title">{{ account.email }}</h1>
    <h3 id="account-type">Account type: {{ account.accountType }}</h3>
    <div className="options">
      <form method="post">
        <!--protect against cross-site request forgeries-->
        {% csrf_token %}
        {% if account.status == "unblocked" %}
            <input type="submit" name="Block Account" value="Block Account">
        {% else %}
            <input type="submit" name="Unblock Account" value="Unblock Account">
        {% endif %}
      </form>
      <br>
      <form method="post">
        <!--protect against cross-site request forgeries-->
        {% csrf_token %}
        <input type="submit" name="Delete Account" value="Delete Account">
      </form>
    </div>

  </body>
</html>
