<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static  'home/form.css' %}?{% now "U" %}'>
    </head>
    <body>

        {% include "header.html" %}
        <h1 class="form_title">Edit Post</h1>
        {% if form.errors %}
            {{form.errors}}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <label class="field_title">{{field.label}}</label>
                <br>
                {% if field.label == "Job type" %}
                    <div class="dropdown">
                        {{field}}
                    </div>
                {% elif field.label == "End date" %}
                    <div class="selectdate">
                        {{field}}
                    </div>
                {% else %}
                    {{field}}
                {% endif %}
                <br>
            {% endfor %}
            <input type="submit" value="Submit"/>
        </form>

    </body>
</html>
