<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/search_posts.css' %}">
  </head>
  <body>


{% include "header.html" %}
    <h1>Search Job Posts</h1>
    <form method="post">
      <!--protect against cross-site request forgeries-->
      {% csrf_token %}
      <div className="search-bar">
        <!--
        <input type="text" id="search-bar" placeholder="Search by title..." value="" onkeypress="handleUpdate()">
        -->
        <input type="text"
               id="search-bar"
               name="q"
               placeholder="Search by..."
               value="{% if searchButtonClicked %}{{ query }}{% endif %}">
        <select name="filter" id="filter">
          <option name="title" value="title" {% if selected == "title" %} selected {% endif %}>Title</option>
          <option name="description" value="description" {% if selected == "description" %} selected {% endif %}>Description</option>
        </select>
        <input type="submit" name="Search" value="Search">
      </div>
    </form>
    <ul id="results">
      {% if searchButtonClicked %}
        {% for post in posts %}
          {% if post.status == "active" %}
            <li id="post">
              <a href="/posts/{{post.id}}/">{{ post.title }} -- Description: {{ post.description }}</a>
            </li>
            <br>
          {% endif %}
        {% empty %}
          <p>No matches found.</p>
        {% endfor %}
      {% endif %}
    </ul>

  </body>
</html>
